/* style.css */

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #eceff1, #cfd8dc);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  text-align: center;
}

.header h1 {
  color: #f44336;
  margin-bottom: 20px;
}

.settings, .student-form, .login-container, .audio-record, .leaderboard {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 450px;
}

.settings {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.setting-item label, .student-form h2, .audio-record h2, .leaderboard h2 {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button {
  background-color: #ff8a65;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

button:hover {
  background-color: #ff7043;
}

.keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.key {
  background-color: #ffcccc;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.key:hover {
  background-color: #ff9999;
}

.output .card {
  background: linear-gradient(#f5f7fa, #c3cfe2);
  padding: 20px;
  border-radius: 20px;
  width: 60%;
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.output img {
  width: 250px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.word {
  font-size: 30px;
  margin-top: 10px;
  color: #333;
}

.highlight {
  color: #f44336;
  font-weight: bold;
  font-size: 36px;
}

.leaderboard ol {
  padding: 0;
  list-style-position: inside;
  color: #444;
  font-size: 1.1em;
}

.leaderboard li {
  padding: 8px;
  margin-bottom: 5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.welcome-message {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 18px;
  color: #333;
}

